# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
*.env

# Virtual environments
venv/
env/
.venv/

# SQLite database
*.db

# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd

# Dependency directories
node_modules/

# Miscellaneous
.DS_Store

